/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

/* Estilo para cada producto */
.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
}

.producto h2 {
    font-size: 1.5em;
    color: #333;
}

.producto p {
    color: #666;
}

.producto form {
    margin-top: 15px;
}

.producto button {
    background-color: #28a745;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.producto button:hover {
    background-color: #218838;
}

/* Estilo del encabezado */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}